<div class="">
    <div class="aHl"></div>
    <div id=":rx" tabindex="-1"></div>
    <div id=":qa" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div id=":zo" class="a3s aiL msg1993058707593319462">
            <u></u>

            <div style="
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            background: #f6f8f9;
          ">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f8f9">
                    <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <table width="650" border="0" cellspacing="0" cellpadding="0"
                                    class="m_1993058707593319462mobile-shell">
                                    <tbody>
                                        <tr>
                                            <td class="m_1993058707593319462td m_1993058707593319462container" style="
                            width: 650px;
                            min-width: 650px;
                            font-size: 0pt;
                            line-height: 0pt;
                            margin: 0;
                            font-weight: normal;
                            padding: 55px 0px;
                          ">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_1993058707593319462p30-15" style="
                                    padding: 30px;
                                    border-radius: 12px 12px 0px 0px;
                                  " bgcolor="#042F4A">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                    cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="m_1993058707593319462column-top"
                                                                                width="145" style="
                                            font-size: 0pt;
                                            line-height: 0pt;
                                            padding: 0;
                                            margin: 0;
                                            font-weight: normal;
                                            vertical-align: top;
                                          ">
                                                                                <table width="100%" border="0"
                                                                                    cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="m_1993058707593319462m-center"
                                                                                                style="
                                                    font-size: 0pt;
                                                    line-height: 0pt;
                                                    text-align: center;
                                                  ">
                                                                                                <img src="https://i.postimg.cc/tgX8x5mM/BIA.png"
                                                                                                    width="150"
                                                                                                    height="auto"
                                                                                                    border="0"
                                                                                                    alt="logo de gov co"
                                                                                                    data-image-whitelisted=""
                                                                                                    class="CToWUd"
                                                                                                    data-bit="iit" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                                    <tbody>
                                                        <tr>
                                                            <td style="
                                                                                                                color: #034a85;
                                                                                                                 background: white;
                                                                                                                font-family: sans-serif;
                                                                                                                 font-size: 22px;
                                                                                                                        line-height: 25px;
                                                                                                                        text-align: center;
                                                                                                                        padding-bottom: 0;
                                                                                                                        font-weight: bold;
                                                                                                                        padding-top: 15px;
                                                                                                                    ">
                                                                Codigo de verificación - Firmar Documento
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="
                                                                                    color: #034a85;
                                                                                    background: white;
                                                                                    font-family: sans-serif;
                                                                                    font-size: 17px;
                                                                                    line-height: 25px;
                                                                                    text-align: left;
                                                                                    padding-bottom: 10px;
                                                                                    padding-top: 20px;
                                                                                  ">
                                                                Estimado(a) usuario(a),
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style=" color: #034a85; background: white; font-family:
                                                                sans-serif; font-size: 17px; line-height: 25px;
                                                                text-align: left; padding-bottom: 20px; padding-top:
                                                                0px; ">
                                                                Por favor ingrese el siguiente c&oacute;digo de verificaci&oacute;n
                                                                para firmar el documento:
                                                            </td>
                                                        </tr>
                                                        <td align="center"
                                                            style="background-color: rgba(255, 255, 255, 1)">
                                                            <table class="m_1993058707593319462center" border="0"
                                                                cellspacing="0" cellpadding="0"
                                                                style="text-align: center">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="
                                                                                background: #042f4a;
                                                                                font-family: sans-serif;
                                                                                font-size: 14px;
                                                                                line-height: 18px;
                                                                                padding: 13px 60px;
                                                                                text-align: center;
                                                                                border-radius: 20px;
                                                                            ">
                                                                            <a style="
                                                                                        color: #000001;
                                                                                        text-decoration: none;
                                                                                        " target="_blank">
                                                                                <span style="
                                                                                    color: #ffffff;
                                                                                    text-decoration: none;
                                                                                ">{{verification_code_str}}</span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width=" 100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="color: #034a85; background: white; font-family:
                            sans-serif; font-size: 17px; line-height: 25px;
                            text-align: left; padding-bottom: 30px; padding-top:
                            20px; ">
                                                Si no ha solicitado el c&oacute;digo de verificaci&oacute;n, le
                                                recomendamos que se ponga en contacto con nuestro equipo de soporte
                                                t&eacute;cnico.
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="m_1993058707593319462p30-15" style="
                                    padding: 10px 30px;
                                    border-radius: 0px 0px 12px 12px;
                                  " bgcolor="#ffffff">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-bottom: 10px">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                    cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="
                                                    font-family: sans-serif;
                                                    font-size: 17px;
                                                    line-height: 28px;
                                                    text-align: left;
                                                    font-style: normal;
                                                    color: #042f4a;
                                                    padding-top: 8px;
                                                  ">
                                                                                <table border="0" cellspacing="0"
                                                                                    cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" width="100"
                                                                                                style="
                                                            font-size: 0pt;
                                                            line-height: 0pt;
                                                            text-align: left;
                                                          ">
                                                                                                <img src="https://www.cormacarena.gov.co/sites/cormacarena/content/files/000001/26_logocorma2_200x200.png"
                                                                                                    width="100"
                                                                                                    height="auto"
                                                                                                    border="0"
                                                                                                    alt="logo de la AND"
                                                                                                    data-image-whitelisted=""
                                                                                                    class="CToWUd"
                                                                                                    data-bit="iit" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table border="0" cellspacing="0"
                                                                                    cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="
                                                            color: #999999;
                                                            font-family: Arial,
                                                              sans-serif;
                                                            font-size: 12px;
                                                            line-height: 20px;
                                                            text-align: left;
                                                            padding-top: 10px;
                                                          ">
                                                                                                Este
                                                                                                mensaje
                                                                                                se
                                                                                                envi&oacute;
                                                                                                a:
                                                                                                <strong><a
                                                                                                        href='mailto:' +
                                                                                                        {{email}}
                                                                                                        target="_blank">{{email}}</a></strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="
                                                            color: #999999;
                                                            font-family: Arial,
                                                              sans-serif;
                                                            font-size: 12px;
                                                            line-height: 26px;
                                                            text-align: left;
                                                          ">
                                                          Si
                                                          tiene
                                                          alguna
                                                          pregunta,
                                                          queja o
                                                          inquietud,
                                                          no dude
                                                          en
                                                          <strong><a
                                                                  href="mailto:pqrds@cormacarena.gov.co"
                                                                  target="_blank">contactarnos.</a></strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td valign="top" width="100" style="
                                                    font-size: 0pt;
                                                    line-height: 0pt;
                                                    text-align: left;
                                                  ">
                                                                                <img src="https://macarenia.org/site/wp-content/uploads/2023/02/cropped-Macarenia-fullcolor-Logo-768x283.png"
                                                                                    width="100" height="auto" border="0"
                                                                                    alt="logo de la AND"
                                                                                    data-image-whitelisted=""
                                                                                    class="CToWUd" data-bit="iit" />
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </td>
                </tr>
                </tbody>
                </table>
                <div class="yj6qo"></div>
                <div class="adL"></div>
            </div>
            <div class="adL"></div>
        </div>
    </div>
    <div id=":yr" class="ii gt" style="display: none">
        <div id=":ys" class="a3s aiL"></div>
    </div>
    <div class="hi"></div>
</div>