<div class="">
    <div class="aHl"></div>
    <div id=":rx" tabindex="-1"></div>
    <div id=":qa" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div id=":zo" class="a3s aiL msg1993058707593319462">
            <u></u>

            <div style="
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            background: #f6f8f9;
          ">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f6f8f9">
                    <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <table width="650" border="0" cellspacing="0" cellpadding="0"
                                    class="m_1993058707593319462mobile-shell">
                                    <tbody>
                                        <tr>
                                            <td class="m_1993058707593319462td m_1993058707593319462container" style="
                            width: 650px;
                            min-width: 650px;
                            font-size: 0pt;
                            line-height: 0pt;
                            margin: 0;
                            font-weight: normal;
                            padding: 55px 0px;
                          ">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_1993058707593319462p30-15" style="
                                    padding: 30px;
                                    border-radius: 12px 12px 0px 0px;
                                  " bgcolor="#042F4A">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                    cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="m_1993058707593319462column-top"
                                                                                width="145" style="
                                            font-size: 0pt;
                                            line-height: 0pt;
                                            padding: 0;
                                            margin: 0;
                                            font-weight: normal;
                                            vertical-align: top;
                                          ">
                                                                                <table width="100%" border="0"
                                                                                    cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="m_1993058707593319462m-center"
                                                                                                style="
                                                    font-size: 0pt;
                                                    line-height: 0pt;
                                                    text-align: center;
                                                  ">
                                                                                                <img src="https://i.postimg.cc/tgX8x5mM/BIA.png"
                                                                                                    width="150"
                                                                                                    height="auto"
                                                                                                    border="0"
                                                                                                    alt="logo de gov co"
                                                                                                    data-image-whitelisted=""
                                                                                                    class="CToWUd"
                                                                                                    data-bit="iit" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table width="100%" border="0" cellspacing="0" cellpadding="10">
                                                    <tbody>
                                                        <tr>
                                                            <td style="
                                                                                                                color: #034a85;
                                                                                                                 background: white;
                                                                                                                font-family: sans-serif;
                                                                                                                 font-size: 22px;
                                                                                                                        line-height: 25px;
                                                                                                                        text-align: center;
                                                                                                                        padding-bottom: 0;
                                                                                                                        font-weight: bold;
                                                                                                                        padding-top: 15px;
                                                                                                                    ">
                                                                Verificaci&oacute;n de usuario exitosa!
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="m_1993058707593319462fluid-img" style="
                                                                                                                        font-size: 0pt;
                                                                                                                        line-height: 0pt;
                                                                                                                        text-align: center;
                                                                                                                        background: white;
                                                                                                                    ">
                                                                <img src="https://i.postimg.cc/4NyFC5xj/Bia-Verificacion.png"
                                                                    border="0" width="200" height="auto"
                                                                    alt="caricatura de dos personas frente a un computador"
                                                                    data-image-whitelisted="" class="CToWUd a6T"
                                                                    data-bit="iit" tabindex="0" />
                                                                <div class="a6S" dir="ltr"
                                                                    style="
                                                                                                                        opacity: 0.01;
                                                                                                                        left: 928.023px;
                                                                                                                        top: 459.953px;
                                                                                                                        ">
                                                                    <div id=":106"
                                                                        class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                        role="button" tabindex="0"
                                                                        aria-label="Descargar el archivo adjunto t3_image1.png"
                                                                        jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB"
                                                                        data-tooltip-class="a1V"
                                                                        data-tooltip="Descargar">
                                                                        <div class="akn">
                                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div id=":107"
                                                                        class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                        role="button" tabindex="0"
                                                                        aria-label="Añadir archivo adjunto t3_image1.png a Drive"
                                                                        jslog="119524; u014N:cOuCgd,xr6bB; 43:WyJpbWFnZS9wbmciLDcxNjU2XQ.."
                                                                        data-tooltip-class="a1V"
                                                                        data-tooltip="Añadirlo a Drive">
                                                                        <div class="akn">
                                                                            <div class="wtScjd J-J5-Ji aYr XG">
                                                                                <div class="T-aT4"
                                                                                    style="display: none">
                                                                                    <div></div>
                                                                                    <div class="T-aT4-JX"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id=":109"
                                                                        class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                        role="button" tabindex="0"
                                                                        aria-label="Guardar en Fotos"
                                                                        jslog="54186; u014N:cOuCgd,xr6bB; 43:WyJpbWFnZS9wbmciLDcxNjU2XQ.."
                                                                        data-tooltip-class="a1V"
                                                                        data-tooltip="Guardar en Fotos">
                                                                        <div class="akn">
                                                                            <div class="J-J5-Ji aYr akS">
                                                                                <div class="T-aT4"
                                                                                    style="display: none">
                                                                                    <div></div>
                                                                                    <div class="T-aT4-JX"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="
                                                                                    color: #034a85;
                                                                                    background: white;
                                                                                    font-family: sans-serif;
                                                                                    font-size: 17px;
                                                                                    line-height: 25px;
                                                                                    text-align: center;
                                                                                    padding-bottom: 30px;
                                                                                    padding-top: 0px;
                                                                                  ">
                                                                Estimado(a)
                                                                <strong>{{primer_nombre}}{{razon_social}}</strong>,
                                                                <br>
                                                                Nos complace informarle que su cuenta ha sido
                                                                <strong>VERIFICADA</strong> correctamente. A partir de
                                                                ahora, podr&aacute; acceder sin problemas al portal de Bia
                                                                Cormacarena.
                                                                <br>
                                                                Le damos la bienvenida y esperamos que disfrute de todas
                                                                las funcionalidades y servicios que ofrecemos.
                                                                <br>
                                                                Gracias por unirse a Bia Cormacarena. Esperamos que su
                                                                experiencia sea excelente.
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td align="center"
                                                                style="background-color: rgba(255, 255, 255, 1)">
                                                                <table class="m_1993058707593319462center" border="0"
                                                                    cellspacing="0" cellpadding="0"
                                                                    style="text-align: center">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="
                                                                                            background: #042f4a;
                                                                                            font-family: sans-serif;
                                                                                            font-size: 14px;
                                                                                            line-height: 18px;
                                                                                            padding: 13px 60px;
                                                                                            text-align: center;
                                                                                            border-radius: 20px;
                                                                                            text-transform: uppercase;
                                                                                          ">
                                                                                <a href={{absurl}} style="
                                                                                              color: #000001;
                                                                                              text-decoration: none;
                                                                                            " target="_blank"
                                                                                    data-saferedirecturl={{absurl}}>
                                                                                    <span style="
                                                                                                color: #ffffff;
                                                                                                text-decoration: none;
                                                                                              ">INGRESA AQUI</span>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>



                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_1993058707593319462p30-15" style="
                                    padding: 50px 30px;
                                    border-radius: 0px 0px 12px 12px;
                                  " bgcolor="#ffffff">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                    cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="padding-bottom: 10px">
                                                                                <table width="100%" border="0"
                                                                                    cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" style="
                                                    font-family: sans-serif;
                                                    font-size: 17px;
                                                    line-height: 28px;
                                                    text-align: left;
                                                    font-style: normal;
                                                    color: #042f4a;
                                                    padding-top: 8px;
                                                  ">
                                                                                                <table border="0"
                                                                                                    cellspacing="0"
                                                                                                    cellpadding="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td valign="top"
                                                                                                                width="100"
                                                                                                                style="
                                                            font-size: 0pt;
                                                            line-height: 0pt;
                                                            text-align: left;
                                                          ">
                                                                                                                <img src="https://www.cormacarena.gov.co/sites/cormacarena/content/files/000001/26_logocorma2_200x200.png"
                                                                                                                    width="100"
                                                                                                                    height="auto"
                                                                                                                    border="0"
                                                                                                                    alt="logo de la AND"
                                                                                                                    data-image-whitelisted=""
                                                                                                                    class="CToWUd"
                                                                                                                    data-bit="iit" />
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table border="0"
                                                                                                    cellspacing="0"
                                                                                                    cellpadding="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="
                                                            color: #999999;
                                                            font-family: Arial,
                                                              sans-serif;
                                                            font-size: 12px;
                                                            line-height: 20px;
                                                            text-align: left;
                                                            padding-top: 10px;
                                                          ">
                                                                                                                Este
                                                                                                                mensaje
                                                                                                                se
                                                                                                                envi&oacute;
                                                                                                                a:
                                                                                                                <strong><a
                                                                                                                        href='mailto:'
                                                                                                                        +
                                                                                                                        {{email}}
                                                                                                                        target="_blank">{{email}}</a></strong>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="
                                                            color: #999999;
                                                            font-family: Arial,
                                                              sans-serif;
                                                            font-size: 12px;
                                                            line-height: 26px;
                                                            text-align: left;
                                                          ">
                                                                                                                Si
                                                                                                                tienes
                                                                                                                alguna
                                                                                                                pregunta
                                                                                                                o queja,
                                                                                                                no dudes
                                                                                                                en
                                                                                                                <strong><a
                                                                                                                        href="mailto:soporteccc@mintic.gov.co"
                                                                                                                        target="_blank">contactarnos.</a></strong>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                            <td valign="top" width="100"
                                                                                                style="
                                                    font-size: 0pt;
                                                    line-height: 0pt;
                                                    text-align: left;
                                                  ">
                                                                                                <img src="https://macarenia.org/site/wp-content/uploads/2023/02/cropped-Macarenia-fullcolor-Logo-768x283.png"
                                                                                                    width="100"
                                                                                                    height="auto"
                                                                                                    border="0"
                                                                                                    alt="logo de la AND"
                                                                                                    data-image-whitelisted=""
                                                                                                    class="CToWUd"
                                                                                                    data-bit="iit" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="yj6qo"></div>
                <div class="adL"></div>
            </div>
            <div class="adL"></div>
        </div>
    </div>
    <div id=":yr" class="ii gt" style="display: none">
        <div id=":ys" class="a3s aiL"></div>
    </div>
    <div class="hi"></div>
</div>